body {
	margin: 0;
	color: #fff;
	font-family: 'roboto';
}

h2 {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

div.with-canvas {
	margin: 0px;
	padding: 0px;
	border: 0px;

	height: 100%;
}

div.with-canvas canvas {
	display: block;
}